name: Acceptance

on:
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: windows-latest

    steps:
      - uses: actions/checkout@v3
      - name: Setup .NET
        uses: actions/setup-dotnet@v2
        with:
          dotnet-version: 6.0.x
      - name: Setup Node.js environment
        uses: actions/setup-node@v3.4.1
      - name: Pre-Build
        run: |
          npm ci
          npm run build
      - name: Build
        run: dotnet build --nologo BootstrapIcons.Net.sln
      - name: Test
        run: dotnet test --nologo --no-build --logger "trx;LogFileName=BootstrapIcons.AspNetCore.Tests.trx" --results-directory . BootstrapIcons.AspNetCore.Tests/BootstrapIcons.AspNetCore.Tests.csproj
      - name: Upload Test Results
        uses: actions/upload-artifact@v3
        if: ${{ always() }}
        with:
          name: test-results
          path: '*.trx'
